{% load widget_tweaks %}

<form id="filters_form" method="GET" action="{% url 'search' %}">
    <input type="hidden" name="query" value="{{ query }}">
    <div class="flex flex-col gap-4 form-control">
        {% if user.is_authenticated %}
        <div class="flex flex-row items-center">
            <input type="checkbox" id="in-contacts" name="in_contacts" value="true" class="checkbox checkbox-md" {% if in_contacts %}checked{% endif %}>
            <label for="in-contacts" class="ml-2">In Contacts</label>
        </div>
        <div class="flex flex-row items-center">
            <input type="checkbox" id="matching_interests" name="matching_interests" value="true" class="checkbox checkbox-md" {% if matching_interests %}checked{% endif %}>
            <label for="matching_interests" class="ml-2">Matching Your Interests</label>
        </div>
        {% endif %}
        <div class="form-control">
            <label class="label label-text">Country</label>
            {% render_field user_profile_search_form.country class="select select-bordered" %}
        </div>
        <div class="form-control">
            <label class="label label-text">Interests</label>
            <div class="h-96 border border-base-content/20 rounded-lg overflow-y-auto bg-base-100">
                {% for category in interest_categories %}
                <div class="mb-4">
                    <h3 class="font-bold text-lg sticky top-0 bg-base-100 z-10 py-2 px-4">{{ category.name }}</h3>
                    <div class="flex flex-col gap-2 px-4">
                        {% for interest in category.interests.all %}
                        <label class="label cursor-pointer justify-start gap-2 py-0">
                            <input type="checkbox" name="interests" value="{{ interest.id }}" class="checkbox checkbox-sm" {% if interest.id in selected_interests %}checked{% endif %} />
                            <span class="label-text">{{ interest.name }}</span>
                        </label>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
