{% load partials %}
{% load static %}

{% partialdef post_partial inline=true %}
<div id="post-{{ post.id }}">
    <div class="flex gap-4 mb-2 bg-base-200 p-4 rounded-lg drop-shadow-sm">
        <div class="avatar flex-none" name="profile-pic">
            <div class="btn btn-ghost btn-circle w-12 h-12">
                <a href="/p/{{ post.user.username }}"><img class="w-full h-full object-cover"
                    src="{{ post.user.profile.image_url }}" alt="{{ post.user.username }}"></a>
            </div>
        </div>
        <div class="flex-1 relative" name="post">
            <div class="stat-title text-sm pr-10">
                <a href="/p/{{ user.username }}">{{ post.user.first_name}} {{ post.user.last_name }}</a> · {{ post.created_at }}, {{ post.visibility }}
            </div>
            {% if user == post.user %}
            <div class="dropdown dropdown-end absolute top-0 right-0">
                <div tabindex="0" role="button" class="btn btn-ghost btn-xs">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
                </div>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a hx-get="{% url 'edit_post' post.id %}" 
                           hx-target="#edit-modal-container-{{ post.id }}" 
                           hx-swap="innerHTML"
                           hx-on::after-request="document.getElementById('edit_modal_{{ post.id }}').showModal()">Edit Post</a></li>
                    <li><a class="text-error" onclick="delete_modal_{{ post.id }}.showModal()">Delete Post</a></li>
                </ul>
            </div>
            {% endif %}
            <div class="font-bold text-lg">
                {{ post.title }}
            </div>
            <div>
                {{ post.content.text }}
            </div>
            <div class="mt-2">
                {% for interest in post.interests.all %}
                {% include "includes/interest.html" %}
                {% endfor %}
            </div>
            <div class="flex flex-row items-center gap-2 mt-2">
                <div class="font-bold text-lg">
                    {{ post.likes.count }}
                </div>
                <form hx-post="{% url "like_post" post_id=post.id %}" hx-target="#post-{{ post.id }}">
                    {% csrf_token %}
                    {% if user in post.likes.all %}
                    <button type="submit" class="btn btn-ghost btn-sm text-primary gap-2">
                        <div class="w-5 h-5 bg-current" style="-webkit-mask-image: url({% static 'src/img/thumbs-up-fill-svgrepo-com.svg' %}); mask-image: url({% static 'src/img/thumbs-up-fill-svgrepo-com.svg' %}); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center; -webkit-mask-size: contain; mask-size: contain;"></div>
                        Liked
                    </button>
                    {% else %}
                    <button type="submit" class="btn btn-ghost btn-sm gap-2">
                        <div class="w-5 h-5 bg-current" style="-webkit-mask-image: url({% static 'src/img/thumbs-up-svgrepo-com.svg' %}); mask-image: url({% static 'src/img/thumbs-up-svgrepo-com.svg' %}); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center; -webkit-mask-size: contain; mask-size: contain;"></div>
                        Like
                    </button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    {% if user == post.user %}
    <dialog id="delete_modal_{{ post.id }}" class="modal modal-middle">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Delete Post</h3>
            <p class="py-4">Are you sure? This action cannot be undone.</p>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn">Cancel</button>
                </form>
                <form hx-post="{% url 'delete_post' post_id=post.id %}" hx-target="#post-{{ post.id }}" hx-swap="outerHTML">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-error">Delete</button>
                </form>
            </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>
    <div id="edit-modal-container-{{ post.id }}"></div>
    {% endif %}
</div>
{% endpartialdef post_partial %}
