services:
  web:
    build: .
    image: grouper-local
    container_name: grouper_app
    ports:
      - 8000:8000
    volumes:
      - ./src:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - DB_HOST=db
      - REDIS_HOST=redis
    env_file:
      - .env
  tailwind:
    image: node:22-bookworm-slim
    working_dir: /app
    command: sh -c "npm install && npm run copy-htmx && npm run tailwind-watch"
    tty: true
    stdin_open: true
    volumes:
      - ./src:/app
  db:
    image: postgres:17
    ports:
      - "5432:5432"
    container_name: grouper_db
    volumes:
      - postgres_db:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
  redis:
    image: redis:8.4-bookworm
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data

volumes:
  postgres_db:
  redis_data:
