services:
  web:
    build: .
    image: grouper-local
    container_name: grouper_app
    ports:
      - 8000:8000
    volumes:
      - ./src:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_HOST=db
    env_file:
      - .env
  tailwind:
    image: grouper-local
    command: npm run tailwind-watch
    tty: true
    volumes:
      - ./src:/app
      - /app/node_modules
    depends_on:
      - web
  db:
    image: postgres:17
    ports:
      - "5432:5432"
    container_name: grouper_db
    volumes:
      - postgres_db:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

volumes:
  postgres_db:
