django
django-allauth
python-dotenv
django-stubs
django-stubs-ext
django-countries
django-widget-tweaks
mypy-extensions
typing_extensions
requests
jwt
psycopg[binary]
python-dotenv
django-nested-admin
