django
django-allauth
python-dotenv
django-stubs
django-stubs-ext
django-countries
django-widget-tweaks
django-template-partials
mypy-extensions
typing_extensions
requests
pyjwt
psycopg[binary]
python-dotenv
django-nested-admin
Pillow
