{% load partials %}

{% partialdef friend_button inline=true %}
<div id="friend-button-{{ profile.user.id }}">
    {% if user.is_authenticated %}
    {% if profile.is_contact %}
    <div class="dropdown join-item">
        <div tabindex="0" role="button" class="btn btn-ghost join-item">
            In Contacts
        </div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[100] w-40 p-2 shadow-lg mt-1">
            <li><button hx-get="{% url 'contact_chat_room' user_id=profile.user.id %}"
                hx-target="#chat_dock"
                hx-swap="beforeend">
                Message
            </button></li>
        </ul>
    </div>
    {% elif profile.request_received %}
    <form hx-post="{% url 'accept_friend_request' id=profile.request_received_id %}"
        hx-target="#friend-button-{{ profile.user.id }}" hx-swap="outerHTML">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Accept</button>
    </form>
    {% elif profile.request_sent %}
    <div class="btn btn-ghost">Request Sent</div>
    {% else %}
    <form hx-post="{% url 'send-friend-request' username=profile.user.username %}"
        hx-target="#friend-button-{{ profile.user.id }}" hx-swap="outerHTML">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Add Friend</button>
    </form>
    {% endif %}
    {% endif %}
</div>
{% endpartialdef %}
