{% load allauth %}
<div class="mb-5">
    {% if field.label %}
        {# We check if it's a checkbox to position label differently if you want, or keep standard #}
        <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-bold text-gray-200">
            {{ field.label }}
        </label>
    {% endif %}

    {% slot %}{% endslot %}

    {% if field.help_text %}
        <p class="mt-1 text-xs text-gray-400">{{ field.help_text|safe }}</p>
    {% endif %}

    {% if field.errors %}
        <div class="mt-1 text-sm text-red-500">
            {% for error in field.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>
