{% extends "master_w_sidebar.html" %}
{% load widget_tweaks %}

{% block title %}
User Search
{% endblock title %}

{% block sidebar %}
<div class="flex flex-col gap-4 p-4">
    <div class="font-bold text-lg">
        <h3>Filters</h3>
    </div>
    <form method="GET" action="{% url 'search_users' %}">
    {% include "includes/filters.html" %}
    </form>
</div>
{% endblock sidebar %}

{% block main %}
<div id="search_body" class="flex flex-col">
{% for profile in profiles %}
{% include "includes/user_card.html" %}
{% endfor %} 
</div>
{% endblock main %}
