{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock title%}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>

<body>
    <p>
    <div style="display: flex; align-items: center; gap: 10px;">
        <a href="/">HOME</a>
        <span>|</span>
        {% if user.is_authenticated %}
        <a href="/accounts/">ACCOUNT</a> |
        <a href="/accounts/logout/">SIGN OUT</a>
        {% else %}
        <a href="/accounts/login/">SIGN IN</a> |
        <a href="/accounts/signup/">SIGN UP</a>
        {% endif %}
    </div>

    </p>
    {% block content %}
    {% endblock content %}
</body>

</html>
