<nav>
<div class="navbar bg-base-200 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl mr-2" href="{% url 'home' %}">Grouper.</a>
        <form method="get" action="{% url 'search' %}">
            <input type="text" name="query" value="" placeholder="Search posts..." class="input input-bordered w-64 bg-slate-800" />
        </form>
    </div>
    <div class="flex-none text-lg">
        {% if user.is_authenticated %}
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img alt="Tailwind CSS Navbar component" src="{{ user.profile.image_url }}" />
            </div>
          </div>
          <ul
            tabindex="-1"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
            <li><a href="/p/{{ user.username }}">Profile</a></li>
            <li><a href="{% url 'account_email' %}">Account</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
          </ul>
        </div>
        {% else %}
        <a class="btn btn-ghost mr-2" href="{% url 'account_login' %}">SIGN IN</a>
        <a class="btn btn-ghost" href="{% url 'account_signup' %}">SIGN UP</a>
        {% endif %}
    </div>
</div>
</nav>
