{% extends "master_w_sidebar.html" %}
{% load widget_tweaks %}

{% block title %}
Results for: {{ query }}
{% endblock title %}

{% block sidebar %}
<div class="flex flex-col gap-4">
    <div class="font-bold text-lg">
        <h3>Filters</h3>
    </div>
    {% include "includes/filters.html"%}
</div>
{% endblock sidebar %}

{% block main %}
{% if not results %}
<p>No results.</p>
{% else %}
<div class="flex flex-col">
    {% include "includes/posts_container.html" with posts=results include_filters=True %}
</div>
{% endif %}
{% endblock main %}
