<div class="flex flex-col h-[calc(100vh-180px)]">
    <ul id="chat_messages_{{ selected_room.id }}" class="flex-grow overflow-y-auto pr-2 mb-4 no-scrollbar">
        {% for message in selected_room.messages.all reversed %}
        {% include "includes/chat_message.html" %}
        {% endfor %}
    </ul>
    <div class="w-full bg-base-100 py-2">
        <form id="form_{{ selected_room.id }}" ws-send 
            hx-on:htmx:ws-after-send="this.reset(); scrollToBottom_{{ selected_room.id }}()" 
            hx-on:submit="setTimeout(() => this.reset(), 10)"
            class="flex gap-2">
            <input type="text" name="body" class="input input-bordered flex-grow" placeholder="Type a message..." autofocus>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
<script>
    function scrollToBottom_{{ selected_room.id }}() {
        const container = document.getElementById('chat_messages_{{ selected_room.id }}');
        if (container) {
            container.scrollTop = container.scrollHeight;
        }
    }
    scrollToBottom_{{ selected_room.id }}();
</script>

{% for room in rooms %}
    {% if room.id != selected_room.id %}
    <div id="messages_room_{{ room.id }}" hx-swap-oob="innerHTML"></div>
    {% endif %}
{% endfor %}

<div id="no-chat-selected" hx-swap-oob="true" class="hidden"></div>
