{% load partials %}
{% load static %}

{% partialdef chat_room_card inline=true %}
<div id="card_for_room_{{ room.id }}" class="relative group w-full has-[details[open]]:z-50">
    <div hx-get="{% url 'chatroom' room_id=room.id %}" 
        {% if hx_target %}hx-target="{{ hx_target }}"{% endif %} 
        {% if hx_swap %}hx-swap="{{ hx_swap }}"{% endif %}
        class="flex flex-row gap-4 p-4 pr-12 items-center justify-start w-full cursor-pointer hover:bg-base-content/5 transition-colors rounded-lg">
        <div class="avatar flex-none" name="profile-pic">
            <div class="rounded-full w-12 h-12">
                {% if room.chat_type == room.ChatType.CONTACTS %}
                    {% if room.display_profile_image %}
                    <img class="w-full h-full object-cover" src="{{ MEDIA_URL }}{{ room.display_profile_image }}" alt="{{ room.display_name }}">
                    {% else %}
                    <img class="w-full h-full object-cover" src="{% static 'src/img/profile_default.png' %}" alt="{{ room.display_name }}">
                    {% endif %}                 
                {% else %}
                <img class="w-full h-full object-cover" src="{{ room.image_url }}" alt="{{ room.name }}">
                {% endif %}
            </div>
        </div>
        <div name="user" class="flex flex-col items-left w-40">
            <div class="flex flex-row text-lg justify-start font-semibold">
                {{ room.display_name|truncatechars:16 }}
            </div>
            <div class="flex flex-row text-sm font-normal justify-start opacity-70">
                {{ room.latest_message|truncatechars:18 }}
            </div>
        </div>
    </div>
    
    {% if room.chat_type == room.ChatType.GROUP_CHAT %}
    <details class="dropdown dropdown-end absolute right-4 top-1/2 -translate-y-1/2">
        <summary role="button" class="btn btn-ghost btn-xs px-1 list-none" onclick="event.stopPropagation()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
        </summary>
        <ul class="dropdown-content menu p-2 shadow-xl bg-base-100 rounded-box w-52 z-[100] border border-base-300">
            <li><a hx-get="{% url 'edit_chat' room.id %}" 
                    hx-target="#global_modal_container" 
                    hx-swap="innerHTML"
                    onclick="this.closest('details').removeAttribute('open')">Edit Chat Room</a></li>
            <li><a class="text-error" 
                   hx-get="{% url 'get_delete_chat_room' room.id %}"
                   hx-target="#global_modal_container"
                   hx-swap="innerHTML"
                   onclick="this.closest('details').removeAttribute('open')">Delete Chat Room</a></li>
        </ul>
    </details>
    {% endif %}
</div>
{% endpartialdef chat_room_card %}
