{% load partials %}
{% load static %}

{% partialdef user_partial inline=true %}
<div id="room-{{ room.id }}">
    <div hx-get="{% url 'chatroom' room_id=room.id %}" hx-target="#chat_room" hx-swap="innerHTML" class="btn btn-ghost flex flex-row gap-4 p-4 rounded-lg h-full justify-start">
        <div class="avatar flex-none" name="profile-pic">
            <div class="rounded-full w-12 h-12">
                {% if room.chat_type == room.ChatType.CONTACTS %}
                    {% if room.display_profile_image %}
                    <img class="w-full h-full object-cover" src="{{ MEDIA_URL }}{{ room.display_profile_image }}" alt="{{ room.display_name }}">
                    {% else %}
                    {# Fallback to static default if None #}
                    <img class="w-full h-full object-cover" src="{% static 'src/img/profile_default.png' %}" alt="{{ room.display_name }}">
                    {% endif %}                 
                {% else %}
                <img class="w-full h-full object-cover" src="{{ room.image_url }}" alt="{{ room.name }}">
                {% endif %}
            </div>
        </div>
        <div name="user" class="flex flex-col items-left">
            <div class="flex flex-row text-lg justify-start">
                {{ room.display_name }}
            </div>
            <div class="flex flex-row text-sm font-normal justify-start">
                {{ room.latest_message }}
            </div>
        </div>
    </div>
</div>
{% endpartialdef user_partial %}
